/* 08 =UTILITY
------------------------- */

.cufon-loading * {
    visibility: hidden !important;
}

.floatl {
    float: left;
    margin: 0;
    padding: 0 10px 10px 0;
}

.floatr {
    float: right;
    margin: 0;
    padding: 0 0 10px 10px;
}

.required {
    color: red;
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.hidden {
    display: none;
    visibility: hidden;
}
 
/* Hide only visually, but have it available for screenreaders www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
     content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
 
.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

input:valid, textarea:valid {
    
}

::-moz-selection{
    background: #1fb9e7;
    color:#fff;
    text-shadow: none;
}

::selection {
    background:#1fb9e7;
    color:#fff;
    text-shadow: none;
}
 